.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}



body {
    background-color: rgb(249, 236, 255);
    align-content: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0;

}



h1 {
    font-family: "Roboto Mono", monospace;
    color:rgb(70, 38, 156);
}

.top-title {
    font-weight: 500;
    font-size: 60px
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
}


.word-row {
    font-family: "Roboto Mono", monospace;
    display: flex;
    flex-direction: row;
}

.tile {
    font-family: "Libre Baskerville", serif;
    color:rgb(70, 38, 156);
    background-color: rgb(255, 255, 255);

    border: 2px solid rgb(175, 92, 196);
    width: 30px;
    height: 30px;
    margin: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 30px;
    padding: 10px;
    font-size: 30px;
    border-radius: 20%;

}

.tile.correct {
    background-color: #094904; 
    color: white;
    border: 2px solid rgb(175, 92, 196);
}

.tile.present {
    background-color: #d67200; 
    color: white;
    border: 2px solid rgb(175, 92, 196);
}

.tile.absent {
    background-color: #000000; 
    color: white;
    border: 2px solid rgb(175, 92, 196);
}


.keyboard {
    
    margin-top: 20px;
    font-family: "Roboto Mono", monospace;
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.keyboard-row {
    display: flex; /
}

.key {
    border: 2px solid rgb(0, 0, 0);
    width: 20px;
    height: 20px;
    margin: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 20px;
    padding: 10px;
    font-size: 16px;
    border-radius: 20%;
    background-color: white;
    cursor: pointer;
    
}

.key[data-key="ENTER"], .key[data-key="DEL"] 
{
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(136, 87, 148);
    color:white;
}

#game-message {
    font-family: "Roboto Mono", monospace;
    font-size: 24px;
    font-weight: bold;
    color: rgb(70, 38, 156);
    margin: 15px 0;
    height: 30px; /* Prevents layout shift when message appears */
    text-align: center;
}


/*IN CASE I WANT TO USE THE HOVER */
/*.key:hover {
    background-color: rgb(230, 230, 230);
    transition: 2ms;*/
